    </div>
    <div id="footer_wrapper">
      <div id="footer">
        <div id="meonline">
          <h3>My Stuff Online</h3>
          <ul>
            <li><a href="https://github.com/morhekil">GitHub</a></li>
            <li><a href="http://www.linkedin.com/in/olegiv">LinkedIn</a></li>
            <li><a href="http://twitter.com/morhekil">Twitter</a></li>
          </ul>
        </div>

        <div id="blogextra">
          <h3>Blog's extra</h3>
          <ul>
            <li><a href="http://feeds.feedburner.com/speakmyname">Posts RSS</a></li>
            <li><a href="http://feeds.feedburner.com/speakmyname-comments">Comments RSS</a></li>
          </ul>
        </div>

      </div>
      <div id="underfooter">&nbsp;</div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6087444-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/64xoPIoAVsE4DfEGJ6CA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
    <script>
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'feedback',
        primary_color: '#e15119',
        link_color: '#28425e',
        forum_id: 206457,
        feedback_tab_name: 'Suggest a blog post topic',
        tab_label: 'Suggest a blog post topic',
        tab_color: '#e15119',
        tab_position: 'middle-right',
        tab_inverted: false
      }]);
    </script>
  </body>
</html>
