    </div>
    <div id="footer_wrapper">
      <div id="footer">
        <div id="meonline">
          <h3>My Stuff Online</h3>
          <ul>
            <li><a href="https://github.com/morhekil">GitHub</a></li>
            <li><a href="http://www.linkedin.com/in/olegiv">LinkedIn</a></li>
            <li><a href="http://twitter.com/morhekil">Twitter</a></li>
          </ul>
        </div>
    
        <div id="blogextra">
          <h3>Blog's extra</h3>
          <ul>
            <li><a href="http://feeds.feedburner.com/speakmyname">Posts RSS</a></li>
            <li><a href="http://feeds.feedburner.com/speakmyname-comments">Comments RSS</a></li>
          </ul>
        </div>
        
      </div>
      <div id="underfooter">&nbsp;</div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6087444-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>
  </body>
</html>
