<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="/styles/pygments.css" rel="stylesheet" type="text/css" />
    <link href="/styles/content.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="SpeakMy.Name - recent blog posts" href="http://feeds.feedburner.com/speakmyname" />
    <link rel="alternate" type="application/rss+xml" title="SpeakMy.Name - recent blog comments" href="http://feeds.feedburner.com/speakmyname-comments" />
  </head>

  <body>
    <div id="overhead">
      <p><strong>I'm looking for new job opportunities in European and Australian regions</strong></p>
      <p>If you have challenging projects with the need for professional and passionate web developer and team leader
      with over 10 years of experience building commercial web applications - I'd love to hear from you!</p>
      <p>You can find my CV and experience details at <a href="http://cy.linkedin.com/in/olegiv">my LinkedIn page</a>,
      check some of my work projects <a href="https://github.com/morhekil">at GitHub</a>, or just
      <a href="mailto:&#109;or%68ekil%40%6do%72he&#107;il.&#110;et">drop me an email</a> and let's talk.
      </p>
    </div>
    <div id="header">
      <h1><a href="/">SpeakMy.Name</a></h1>
      <p id="subtitle">will ya, dear?</p>
    </div>

    <div id="wrapper">
