<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="/styles/pygments.css?2014091401" rel="stylesheet" type="text/css" />
    <link href="/styles/content.css?2014091401" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="SpeakMy.Name - recent blog posts" href="http://feeds.feedburner.com/speakmyname" />
    <link rel="alternate" type="application/rss+xml" title="SpeakMy.Name - recent blog comments" href="http://feeds.feedburner.com/speakmyname-comments" />
  </head>

  <body>
    <div id="header">
      <h1><a href="/">SpeakMy.Name</a></h1>
      <p id="subtitle">will ya, dear?</p>
    </div>
