body {
  background: #fff;
  color: #111;
  line-height: 1.5em;
  margin: 0 0 3em;
  padding: 0;
  text-align:center;
  font-family: verdana,geneva,sans-serif;
  font-size: 9.5pt;
}
textarea { overflow: auto; }

pre, code { font-size: 110%; white-space: pre; overflow: auto;
  padding: 0.5em; min-height: 1em;
  background-color: #f2f5f7; border-left: 3px solid #C8CACD;
  position: relative;
}
.highlight { position: relative; }
.highlight .lineno { color: #999999; }

.post p { text-align: justify; }

#header { margin-top: 2em; text-align: center; font-family: arial, helvetica, sans-serif;}
#header h1 { font-size: 2.7em; line-height: 133%; font-weight: 700; }
#header h1 a { text-decoration: none; }
#header #subtitle { margin-left: 8em; font-style: italic; font-size: 1.2em; color: #888; }

#wrapper { max-width: 60em; margin: 2em auto; text-align: left; }

a, a:link {color: #28425e; outline: none;}
a:hover { color: #e15119; }
.post-header a { text-decoration: none; }

.post-content p { margin: 1em 0;}

.post-footer { font-size: 0.8em; font-weight: 700; margin: 1em 0 2em;}

#posts-list .post { margin-bottom: 4em; }

.post .post-header .meta { color:#637B93; font-size:0.9em; margin-left: 2em; }
.post .post-nav { font-size: 0.8em; font-weight: 700; margin-bottom: 1em;}

h1 { font-size: 1.6em; font-family: arial, helvetica, sans-serif; font-weight: 400;
  line-height: 133%; margin: 0; }

h2 { font-size: 1.3em; font-family: arial, helvetica, sans-serif; font-weight: 600;
    line-height: 133%; margin-top: 1em; margin-bottom: 0.5em; }

h3 { font-size: 1.1em; font-family: arial, helvetica, sans-serif; font-weight: 600;
    line-height: 133%; margin-top: 1em; margin-bottom: 0.5em; }

/* Disqus comments styling */
#comments-wrapper { max-width: 60em; margin: 5em auto 0em auto; text-align: left; }
#comments-wrapper #comments-title { font-size: 1.2em; margin: 1em 0 0; line-height: 133%; }
#disqus_thread { border-top: 2px solid #637B93; }
#disqus_thread h3 { margin-top: 0; }
#disqus_thread #dsq-new-post { background-color: #EBEEF1; padding: 0.5em; margin-bottom: 1em; }
#disqus_thread #dsq-content .dsq-subscribe-menu { background-image: none; }
#disqus_thread #dsq-content .dsq-login-buttons { background-image: none; margin-bottom: 0; padding-bottom: 0.5em; }
#disqus_thread #dsq-content .dsq-request-user-info { background-image: none; margin-bottom: 0; padding-bottom: 0.5em; }
#disqus_thread #dsq-comments-title { float: left; width: 20em; }
#disqus_thread #dsq-content .dsq-options { clear: none; font-size: 0.9em; float: right;
  background-image: none; }
#disqus_thread #dsq-comments { clear: both; }
#disqus_thread #dsq-comments .dsq-comment { background-color: #f2f5f7; border-left: 3px solid #C8CACD; margin-bottom: 1em; padding-bottom: 0.5em; }
#disqus_thread #dsq-content .dsq-comment-header { background-image: none; }
#disqus_thread .dsq-comment-header .dsq-comment-cite { display: block; }
#disqus_thread .dsq-comment-header .dsq-comment-header-time { color: #637B93; font-size: 0.9em; padding: 0; }
#disqus_thread .dsq-comment-body { padding: 0.5em; margin: 0; }
#disqus_thread .dsq-comment-body .dsq-comment-message { margin: 0; }
#disqus_thread #dsq-content .dsq-comment-footer { margin: 0; padding: 0 0.5em;
  font-size: 0.8em; font-weight: 700; }
#disqus_thread #dsq-content .dsq-append-post { margin-top: -1.5em; }

#disqus_thread #dsq-form-area { position: relative; }
#disqus_thread #dsq-form-area .dsq-textarea { position: relative; }
#disqus_thread #dsq-form-area .dsq-post-fields { position: relative; }
#disqus_thread #dsq-form-area #dsq-post-button { padding: 3px 5px; }
#disqus_thread #dsq-form-area iframe { width: 100% !important; }
#disqus_thread #dsq-content .dsq-post-fields table { max-width: none; }

#disqus_thread #dsq-content .dsq-item-trackback { text-align: center; color:#637B93; font-size:0.9em;
  background-image: none; border-top: 2px solid #637B93; }
#disqus_thread #dsq-content .dsq-item-trackback input { border: 1px solid #637B93; width: 25em; }
.dsq-brlink { display: block; width: 20em; margin: 0 auto; text-align: center; }